.navbar {
  display: flex;
  justify-content: space-around;
  padding: 2.8rem;
  font-family: 'Rubik', sans-serif;
}

@font-face {
  font-family: 'Rubik';
  src: url('/src/assets/fonts/Rubik-Regular.ttf') format('truetype'),
    url('/src/assets/fonts/OpenSans_SemiCondensed-Regular.ttf') format('truetype');
  font-display: swap;
}

.blinking-square {
  width: 15px;
  height: 28px;
  animation: blink 1s linear infinite;
  margin-left: 5px;
  margin-top: 5px;
  background-color: black;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.navbar span p {
  text-decoration: underline;
}

.bg {
  height: 80vh;
  /* using avif format compressed images to increase lcp and fcp */
  background-image: url('/src/assets/images/home-header-modern.avif');
  background-position-x: center;
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-origin: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem;
  background-color: rgb(39, 39, 39);
  color: white;
  border-radius: 0.7rem;
  width: 10rem;
  overflow: hidden;
  transition: 0.5s ease;
}

.btn:hover {
  width: 11.5rem;
}

.tagline {
  margin-top: -4rem;
  margin-bottom: 6rem;
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 100%;
  max-width: 700px;
  min-height: 200px;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.custom-button {
  background-color: #ffffff;
  padding: 15px 32px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
  background-color: #f8f8f8;
  background-color: #f0efef;
  transform: scale(1.05);
}

.custom-button.active {
  background-color: #eaeaea;
  transform: scale(1.05);
}

.green {
  color: rgb(50, 210, 50);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.card {
  flex: 0 1 calc(60% - 1em);
  margin-bottom: 20px;
  padding: 16px;
  text-align: center;
  margin-left: 4rem;
  padding-right: 5rem;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn2 {
  background-color: rgb(27, 27, 27);
  color: white;
  border-radius: 0.4rem;
  padding: 6px 20px 6px 20px;
  margin-top: 1rem;
  width: 7rem;
}

.btn3 {
  color: black;
  border-radius: 0.4rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 8rem;
}

.dropdown {
  width: 160px;
  position: relative;
}

.dropdown .dropdown-btn {
  cursor: pointer;
  background: white;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #777;
}

.dropdown-content {
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
}

.dropdown-content .item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-content .item:hover {
  background: #fcfcfc;
}

.about-container {
  height: calc(100vh - 4rem);
  width: 35%;
  max-width: 1200px;
  margin: 2rem auto;
  box-sizing: border-box;
  border-radius: 0.5rem;
  overflow: auto;
}

.about-container img {
  margin-left: 8rem;
  margin-top: -26rem;
  opacity: 0.1;
}

.syntaxhighlighter::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}