@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 2.8rem;
  font-family: 'Rubik', sans-serif;
}

@font-face {
  font-family: 'Rubik';
  src: url('/src/assets/fonts/Rubik-Regular.ttf') format('truetype'),
    url('/src/assets/fonts/OpenSans_SemiCondensed-Regular.ttf') format('truetype');
  font-display: swap;
}

@keyframes blink {

  0%,
  100% {
    background-color: black;
  }

  50% {
    background-color: transparent;
  }
}

.blinking-square {
  width: 15px;
  height: 28px;
  /* animation: blink 1s linear infinite; */
  margin-left: 5px;
  margin-top: 5px;
}

.navbar span p {
  text-decoration: underline;
}

.bg {
  height: 80vh;
  /* using avif format compressed images to increase lcp and fcp */
  background-image: url('/src/assets/images/home-header-modern.avif');
  background-position-x: center;
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-origin: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem;
  background-color: rgb(39, 39, 39);
  color: white;
  border-radius: 0.7rem;
  width: 10rem;
  overflow: hidden;
  transition: 0.5s ease;
}

.btn:hover {
  width: 11.5rem;
}

.tagline {
  margin-top: -4rem;
  margin-bottom: 6rem;
  font-family: 'Rubik', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* Adjust as needed */
  max-width: 800px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Center the container */
  border: 1px solid black;
}

.column {
  padding: 20px;
  /* Adjust as needed */
}