@media (max-width: 600px) {
    .container {
        width: 100%;
        /* Smaller width on tablets */
    }
}

@media (min-width: 900px) {
    .container {
        width: 40%;
        /* Even smaller width on desktops */
    }
}

@media (max-width: 780px){
    .blinking-square {
        width: 44px;
      }

      .bg {
        background-image: none;
      }
}